.note__item {
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    box-shadow: 0 2px 5px hsl(0, 0%, 80%);
    background-color: hsl(0, 0%, 100%);
    padding: 1rem;
}

.note__title {
    font-size: 1.1em;
    margin-bottom: 1rem;
}

.note__body {
    font-size: 1.1em;
    margin-bottom: 2rem;
    text-align: justify;
}

