header {
  background-color: hsl(210, 79%, 46%);
  margin: auto -1rem;
  padding: 1rem 2rem;
  box-shadow: 0 0 10px 0 hsla(0, 0%, 0%, 0.3);
}

.header__text {
  color: hsl(0, 0%, 100%);
  font-family: "McLaren", cursive;
  font-weight: 200;
}